/*
CSS Stylesheet for Place Login
Plugin URI: http://www.boroniatechonologies.com/place-login/
Description: This plugin can add a login button or widget in any region of your web page.
Author: Catherine Lebastard
Version: 1.0
Author URI: http://www.boroniatechnologies.com
*/
.plogin-form .login_error, #dialog-login .login_error{
	color: #ae121e;
	background-color: #f8dbdb;
	border: 1px solid;
	margin: 10px 0 15px 0;
	padding: 5px 10px;
}
.plogin-form .login_error{
	font-size: 13px;
}
.plogin-form .valid span{
	color: #5F95EF;
}
.plogin-form h1{
	margin: 8px 0px 8px 0px; padding: 8px 0px 8px 0px;
	font: normal 24px/130% Arial, Verdana, Georgia, serif;
	font-style: normal;
}
.plogin-form input{
	padding: 3px;
}
.plogin-form span.description{
	color: #777;
	font-size:12px;
	font-style:italic;
	font-family:sans-serif;
}
.plogin-form #pass-strength-result{
	//background-color:#eee;border-color:#ddd!important;
	font-size: 12px;
	width:180px;border-style:solid;border-width:1px;margin:10px 0 3px;padding:2px;text-align:center;
	background-color:#eee;border-color:#ddd!important;
}
.plogin-form #pass-strength-result.bad{
	background-color:#ffb78c;
	border-color:#ff853c!important;
}
.plogin-form #pass-strength-result.good{
	background-color:#ffec8b;
	border-color:#fc0!important;
}
.plogin-form #pass-strength-result.short{
	background-color:#ffa0a0;
	border-color:#f04040!important;
}
.plogin-form #pass-strength-result.strong{
	background-color:#c3ff88;border-color:#8dff1c!important;
}
.plogin-form p.description{
	color: #777; font-size:12px;font-style:italic;font-family:sans-serif;
}
.plogin-form p em{
	color: red; font-size:12px;
}
.plogin-form #wp-submit{
	padding: 10px;
}
.plogin-form ul{
	margin: 0;
	list-style-image: none;
}

#menubox{
	//margin: 5px 0 0 0;
	padding: 5px 0 0 0;
	//position: relative;
}
.plogin_widget .avatar_container, .display-user .avatar_container{
	float: left;
	margin: 0 10px 0 0;
	position: relative;
	z-index: 110;
}
.plogin_widget a.parent, .display-user a.parent{
	text-decoration:none;
	font-size: 14px;
	cursor: pointer;
	display:block; 
	//width:180px; 
	height:30px;
	padding:5px 10px 0 10px;
	line-height:30px;
	color: #3172A6;
	position: relative;
	z-index: 120;
}
.plogin_widget .children, .display-user .children{
	/* cancel the default list style */
	list-style:none;
	margin: 0;
	padding: 0;
	font-size: 11px;
}    
.plogin_widget .children li a, .display-user .children li a{
	display:block; 
	//height:10x;
	color:#666;
	padding: 0 10px;
}                
.plogin_widget .children li a:hover, .display-user .children li a:hover{
	color:#5088B5;
}
.plogin_widget #dropdown, .display-user #dropdown{
	//padding: 5px 10px;
	padding: 40px 0 5px;
	margin-top: -35px;
	list-style:none;    
	display:none;
             
	position:absolute;
	//left:0;
	//top: 5px;
	z-index:100;
	background:#fff;
	width:180px;
	border: 1px solid #cecece;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.ui-widget { 
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 11px; 
}
.no-close .ui-dialog-titlebar-close {display:none}
